.drawboard {
  width: 100%;
  max-width: 1000px;
  background: white;

  &__canvas {
    cursor: not-allowed;
    &--active {
      cursor: crosshair;
    }

    &__line {
      fill:none;
      stroke:black;
      stroke-width:4px;
    }
  }
}
