@import '~@angular/material/theming';

.room {
  min-height: 100vh;
  padding: 50px 0;
}

md-card {
  padding: 0;
  width: 100%;
  max-width: 1000px;

  .mat-card-header-text { margin: 0;}

}
.icon{
  &--big {
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
  }
}
