<div *ngIf="room">

  <app-recognition *ngIf="isArtist"></app-recognition>

  <div fxLayout="row" fxLayoutAlign="center">
    <app-drawboard fxFlex
                   [inDrawingMode]="isArtist"
                   [drawnLines]="drawLines"
                   (onDrawing)="handleDrawing($event)"
                   (onLineDrawn)="handleLineDrawn($event)"></app-drawboard>

  </div>

  <div fxLayout="row" fxLayoutWrap>
    <app-guess-form fxFlex="80"
                    fxFlex.xs="100%"
                    *ngIf="isGuessing"
                    (onGuess)="handleGuess($event)">
    </app-guess-form>
    <app-display-word fxFlex="80"
                      fxFlex.xs="100%"
                      [word]="guessingWord"
                      *ngIf="!isGuessing">
    </app-display-word>
    <app-display-timer fxFlex
                       fxFlex.xs="100%"
                       [endTimestamp]="endTimeStamp"
                       (onTimerEnded)="handleTimerRanOut()">
    </app-display-timer>
  </div>

  <pre>
    isGuessing: {{ isGuessing }}
    isArtist: {{ isArtist }}
    currentUserId: {{currentUserId}}
  </pre>

  <button (click)="leaveRoom()">leave</button>


</div>
