<div class="login pictionary-bg">

  <!-- Welcome -->
  <md-card class="login-card animated"
           [ngClass]="{'bounceInDown': animateIn, 'bounceOutDown': animateOut}" *ngIf="!showLogin">
    <md-card-header class="login-card-header">
      <md-card-title align="center"
                     class="login-card-title">
        Welcome to Pictionary!
      </md-card-title>
      <md-card-subtitle align="center"
                        class="login-card-subtitle">
        Play together with you friends and make custom rooms to compete with others.
      </md-card-subtitle>
    </md-card-header>
    <md-card-content class="login-card-content">
      <div fxLayout="column"
           fxLayoutGap="30px">

        <img src="http://placehold.it/340x200" alt="placeholder image">

        <button md-raised-button
                color="accent"
                class=""
                (click)="showLoginCard()">
          Get Started
        </button>
      </div>
    </md-card-content>
  </md-card>

  <!-- Login -->
  <md-card class="login-card animated" [ngClass]="{'bounceInDown': showLogin}" *ngIf="showLogin">
    <md-card-header class="login-card-header">
      <md-card-title align="center"
                     class="login-card-title">
        Sign In
      </md-card-title>
      <md-card-subtitle align="center"
                        class="login-card-subtitle">
        Please choose your favorite platform to sign in.
      </md-card-subtitle>
    </md-card-header>
    <md-card-content class="login-card-content">
      <div fxLayout="column"
           fxLayoutGap="30px">
        <button md-raised-button
                color="accent"
                class="login-button"
                (click)="login('twitter')">
          <i class="icon-twitter"></i>
          Login with Twitter
        </button>
        <button md-raised-button
                color="accent"
                class="login-button"
                (click)="login('facebook')">
          <i class="icon-facebook"></i>
          Login with Facebook
        </button>
        <button md-raised-button
                color="accent"
                class="login-button"
                (click)="login('google')">
          <i class="icon-google"></i>
          Login with Google
        </button>
        <button md-raised-button
                color="accent"
                class="login-button"
                (click)="login('github')">
          <i class="icon-git"></i>
          Login with Github
        </button>
      </div>
    </md-card-content>
  </md-card>
</div>
