$pictionary: (
        antiFlashWhite: #F1F4F5,
        oxfordBlue: #444C59,
        cloudBurst: #3B4351,
        deluge: #8965AB,
);

$mat-pictionary-cloudBurst: (
        50 : #e7e8ea,
        100 : #c4c7cb,
        200 : #9da1a8,
        300 : #767b85,
        400 : #585f6b,
        500 : #3b4351,
        600 : #353d4a,
        700 : #2d3440,
        800 : #262c37,
        900 : #191e27,
        A100 : #6d9eff,
        A200 : #3a7cff,
        A400 : #075aff,
        A700 : #004fec,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #ffffff,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);

$mat-pictionary-deluge: (
        50 : #f1edf5,
        100 : #dcd1e6,
        200 : #c4b2d5,
        300 : #ac93c4,
        400 : #9b7cb8,
        500 : #8965ab,
        600 : #815da4,
        700 : #76539a,
        800 : #6c4991,
        900 : #593780,
        A100 : #e5cfff,
        A200 : #c89cff,
        A400 : #ac69ff,
        A700 : #9e50ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #ffffff,
        )
);
