$pictionary: (
        grayLight: #d8d8d8,
        grayMedium: #979797,
        grayDark: #41414b,
        tuna: #353542,
        deluge: #8171ae,
        jungleGreen: #2b9e7d,
        brightSun: #fdd142,
        carnation: #fc5f6c,
);

$pino: lime;

$md-xg-blue: (
        50: #b9b9c7,
        100: #8f8fa5,
        200: #70708c,
        300: #505064,
        400: #434353,
        500: #353542,
        600: #272731,
        700: #1a1a20,
        800: #0c0c0f,
        900: #000000,
        A100: #b9b9c7,
        A200: #8f8fa5,
        A400: #434353,
        A700: #1a1a20,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: white,
                500: white,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: $white-87-opacity
        )
);

$md-xg-green: (
        50: #ddf6ee,
        100: #a0e5d2,
        200: #74d9bc,
        300: #3ccaa1,
        400: #32b690,
        500: #2b9e7d,
        600: #24866a,
        700: #1e6e57,
        800: #175644,
        900: #113e31,
        A100: #ddf6ee,
        A200: #a0e5d2,
        A400: #32b690,
        A700: #1e6e57,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: white,
                600: white,
                700: white,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: $black-87-opacity,
                A700: $black-87-opacity,
        )
);

$md-xg-yellow: (
        50: #ffffff,
        100: #fffefd,
        200: #fef1c5,
        300: #fee07f,
        400: #fdd860,
        500: #fdd142,
        600: #fdca24,
        700: #fcc205,
        800: #e1ac02,
        900: #c29502,
        A100: #ffffff,
        A200: #fffefd,
        A400: #fdd860,
        A700: #fcc205,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: $black-87-opacity,
                600: $black-87-opacity,
                700: $black-87-opacity,
                800: $black-87-opacity,
                900: $black-87-opacity,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: $black-87-opacity,
                A700: $black-87-opacity,
        )
);

$md-xg-purple: (
        50: #ffffff,
        100: #ece9f3,
        200: #ccc5de,
        300: #a498c4,
        400: #9284b9,
        500: #8171ae,
        600: #705ea3,
        700: #625290,
        800: #55477c,
        900: #483c69,
        A100: #ffffff,
        A200: #ece9f3,
        A400: #9284b9,
        A700: #625290,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: white,
                400: white,
                500: $white-87-opacity,
                600: $white-87-opacity,
                700: $white-87-opacity,
                800: $white-87-opacity,
                900: $white-87-opacity,
                A100: $black-87-opacity,
                A200: white,
                A400: $white-87-opacity,
                A700: $white-87-opacity,
        )
);

$md-xg-red: (
        50: #ffffff,
        100: #ffffff,
        200: #fee1e4,
        300: #fd9ba3,
        400: #fd7d88,
        500: #fc5f6c,
        600: #fb4150,
        700: #fb2335,
        800: #fa0519,
        900: #dc0416,
        A100: #ffffff,
        A200: #ffffff,
        A400: #fd7d88,
        A700: #fb2335,
        contrast: (
                50: $black-87-opacity,
                100: $black-87-opacity,
                200: $black-87-opacity,
                300: $black-87-opacity,
                400: $black-87-opacity,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: $black-87-opacity,
                A200: $black-87-opacity,
                A400: white,
                A700: white,
        )
);

